<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sabihamumcu.tez">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".activity.ProductActivity">
        </activity>
        <activity android:name=".activity.NotificationActivity">
        </activity>

        <!--
        <service android:name=".FCM">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        -->
        <!--
        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        -->
        <service android:name=".fcmnotificationdeneme.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".fcmnotificationdeneme.MyFirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".activity.DetailActivity">
        </activity>
        <activity android:name=".activity.SearchActivity">
        </activity>
        <activity android:name=".activity.SubCategoriesActivity">
        </activity>
        <activity android:name=".activity.TopCategoriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.NavigationActivity">
        </activity>
        <activity android:name=".Main2Activity">
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification"/>

        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".activity.BaseLoginActivity">
        </activity>
        <activity android:name=".activity.NewProductsActivity">
            <intent-filter>
                <action android:name="NewProductsActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.BLoginActivity">
        </activity>
        <activity android:name=".activity.BRegisterActivity">
        </activity>
    </application>

</manifest>